name: tests

on:
  push:
  pull_request:

jobs:
  maven-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run smoke
        run: mvn -q test -DjunitTags=smoke

      - name: Run regression
        run: mvn -q test -DjunitTags=regression

      - name: Upload surefire reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports

      - name: Upload restassured failure logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: restassured-failures
          path: target/restassured-failures
          if-no-files-found: ignore
